@font-face {
  font-family: "Cartograph CF";
  src: url("./cartographcf-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Cartograph CF";
  src: url("./cartographcf-regularitalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}
