@import "./reset.css";
@import "./fonts.css";

:root,
::backdrop {
  --font-code: "Cartograph CF", mono;
  --color-primary: #9159f1;
  --color-negative: #e54f6d;
  --color-background: #ffffff;
  --color-border: #e4d7fa;
  --color-border-hover: #ceb6f6;
  --color-text-primary: #2a2036;
  --color-text-secondary: #9787ab;
  --text-sm: 0.75rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --radius-sm: 0.25rem;
  --radius-lg: 0.5rem;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}

html {
  font-family: var(--font-code);
  letter-spacing: -0.05ch;
}

body {
  color: var(--color-text-primary);
}

a {
  color: var(--color-primary);
  text-decoration-color: var(--color-border);
}

a:hover {
  text-decoration-color: var(--color-primary);
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

code {
  padding: 0 0.25rem;
  font-family: var(--font-code);
  color: var(--color-primary);
  background: var(--color-border);
  border-radius: var(--radius-sm);
}
